<div class="nav-container">
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="social_icons">
          <i class="fa fa-facebook"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-envelope"></i>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="row">
      <div class="col-sm-5">
        <div class="icon-container">
          <img src="assets/img/logo.png" class="logo"  [routerLink]="['/']"/>
          <span class="sub-head" *ngIf="homePage">India's most trusted real estate brand</span>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="right-menu-container">
          <div class="info">
            <img src="assets/img/helpline.png" />
            <span>+91 9818181818 </span>
          </div>
          <div class="info">
            <img src="assets/img/how_it_works_icon.png" />
            <span>How it works ? </span>
          </div>
          <div class="info">
            <img src="assets/img/profile_icon.png" />
            <span>Log in / Sign up</span>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="sub-nav" *ngIf="homePage">
    <ul>
      <li [routerLink]="['/listing']" *ngFor="let city of ['DELHI','NOIDA','GURUGRAM','BANGALORE','CHENNAI','HYDERABAD','KOLKATA']">
        {{city}}
      </li>
    </ul>
  </div>
</div>
