.container {
    width: 95%!important;
    margin: 0 auto;
}
.home-container
{
  .section1
  {
    background: url(/assets/img/slider1.jpg);
    background-size: 100% 165%;
    min-height: 256px;
    text-align: center;
    position: relative;
    background-position: top;
    .container{
      min-height: 256px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &::before, &::after{
        content: none;
      }
    }
    .tagline
    {
      text-align: left;
      font-family: 'Oswald', sans-serif;
      h2{
        margin:0;
        margin-bottom: 1.5%;
        font-size: 3.1em;
        color:white;
      }
      small{
        margin-top: 2%;
        display: block;
        font-size: 1.2em;
        color: #eee;
      }
    }
    .search-container
    {
      background: rgba(255,255,255,0.9);
      width: 40%;
      display: flex;
      align-items: center;
      padding: 0 1%;
      .form-group{margin: 0;}
      .select{
        width: 30%;
        select{
          background: none;
          border: none;
          box-shadow: none;
        }
      }
      .input{
        width: 70%;
        border-left: 1px solid #ddd;
        margin-left: 4%;
        padding-left: 4%;
        input
        {
          padding: 5% 0;
          width:94%;
          border:none;
          background: none;
          &:focus
          {
            //background: rgba(255,255,255,1);
          }
        }
      }
    }
    .card-container
    {
      display: flex;
      align-items:center;
      justify-content: center;
      position: absolute;
      top:85%;
      left: 22%;
      .card
      {
        background: white;
        padding: 30px 40px;
        box-shadow: 10px 14px 42px 3px rgba(163, 174, 184, 0.4);
        text-align: center;
        transition: all ease 0.3s;
        cursor: pointer;
        img
        {
          margin: 0 auto;
          margin-bottom: 15px;
          width: 70px;
          height: 70px;
          display: block;
        }
        &:hover
        {
          box-shadow:10px 14px 62px 5px rgba(163, 174, 184, 0.8);
        }
      }
    }
  }
  .essentials-section{
    border:1px solid #efefef;
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .essentials-main
      {
        width: 15%;
        .inner{
          display:flex;
          align-items: center;
          margin-bottom: 5%;
          img{
            margin-right: 4%;
          } 
          span{
            font-size: 1.4em;
            margin-top: 2.7%;
          }
        }
      }
      .items-container{
        width: 85%;
        padding-bottom: 2%;
        display: flex;
        border-left:2px solid #efefef;
        align-items: center;
        justify-content: space-around;
        .item{
          flex:1;
          text-align:center;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 0.95em;
          margin: 0 1%;
          .image-container{
            display: flex;
            align-items: center;
            height: 100px;
            img{
              transform: scale(0.8);
            }
          }
        }
      }
    }
  }
  .steps-section{
    background: #fcfcfc;
    padding-bottom: 4%;
    .container{
      .header{
        padding:2% 0;
        h2{
          color: #309EF2;
          font-family: 'Oswald', sans-serif;
        }
      }
      .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        i{font-size: 2em;color:#309EF2}
        .step{
          width:20%;
          background:#fff;
          box-shadow: 0 0 10px 5px rgba(0,0,0,0.05);
          border:1px solid #bbb;
          text-align: center;
          padding:1%;
          .step-head{
            font-size: 1.4em;
            margin-bottom: 10%;
          }
          img{
            margin-bottom: 10%;
          }
        }
      }
    }
  }
  .map-section
  {
    padding: 2% 0;
    .left-section
    {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;
      img{
        height: 260px;
        width: 416px;
        margin-top: 10%;
        border: 1px solid #ddd;
        box-shadow: 10px 14px 42px 3px rgba(163, 174, 184, 0.4);
      }
    }
    .right-section
    {
      font-family: 'Oswald', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
        margin: 17% 1%;
        font-size: 1.4em;
      }
    }
  }
  .section-3
  {
    padding: 2% 0;
    margin-top: 2%;
    .header
    {
      margin-bottom: 1%;
      color: black;
      padding: 10px 6px;
      display: inline-flex;
      width: 25%;
      align-items: center;
      span{font-size: 1.5em;margin-right: 2%;font-weight: lighter}
      .bolder{
        font-weight: bolder;
      }
    }
    .content
    {
      display: flex;
      overflow-y: scroll;
      .card
      {
        margin-right:2%;
        background: white;
        border:1px solid #efefef;
        transition: all ease 0.3s;
        cursor: pointer;
        .card-header
        {
          padding: 2% 2%;
          background:#9B51E0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #fff;
          span{font-size: 1.1em;}
        }
        .card-content
        {
          display: flex;
          .property
          {
            width: 300px;
            height: 200px;
            position: relative;

          }
        }
        .card-footer
        {
          margin-top: 2%;
          padding:2%;
          h4{
            border-bottom: 1px solid #efefef;
            margin-bottom: 2%;
            padding-bottom: 2%;
          }
        }
      }
    }
  }
  .sectionimg{

    display: none;
    img{
    width: 100%;
  }
  }
}
