
<div class="home-container">
  <ngx-loading-bar></ngx-loading-bar>
  <div class="section1">
    <div class="container">
        <div class="tagline">
            <h2>Simple, Safest & Fastest</h2>
            <small>Buying properties has never been easier</small>
          </div>
          <div class="search-container">
            <div class="select">
                <div class="form-group">
                    <select class="form-control">
                      <option>Property Type</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                </div>
            </div>
            <div class="input">
                <div class="input-container">
                    <input type="text" placeholder="Enter Locality"/>
                    <i class="fa fa-search"></i>
                </div>
            </div>
          </div>
    </div>
  </div>
  <div class="essentials-section">
    <div class="container">
      <div class="essentials-main">
          <img src="assets/img/logo.png" class="logo"  [routerLink]="['/']"/>
          <span>essentials</span>
          <br>
          <p>For all properties</p>
      </div>
      <div class="items-container">
        <div class="item">
          <div class="image-container">
            <img src="assets/img/essential-1.png" />
          </div>
          <span>Complete & authentic
              property papers</span>
        </div>
        <div class="item">
          <div class="image-container">
            <img src="assets/img/essential-2.png" />
          </div>
          <span>3D Virtual tours</span>
        </div>
        <div class="item">
          <div class="image-container">
            <img src="assets/img/essential-3.png" />
          </div>
          <span>Aggregated Services 
              for housing needs</span>
        </div>
        <div class="item">
          <div class="image-container">
            <img src="assets/img/essential-4.png" />
          </div>
          <span>Transparent unbiased
              Information</span>
        </div>
        <div class="item">
          <div class="image-container">
            <img src="assets/img/essential-5.png" />
          </div>
          <span>Complete Transaction
              Safety</span>
        </div>
      </div>
    </div>
  </div>
  <div class="map-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 left-section">
            <img src="assets/img/video_player_main_demo.png" />
        </div>
        <div class="col-sm-7 right-section">
          <h1>There’s 26 Billion USD worth of Real Estate coming up in India in 2018 itself.</h1>
          <h2>But where to start ?</h2>
          <div class="row">
            <div class="col-sm-5">
              <h3>We filter out the noise and bring you the highest yielding commercial properties. </h3>
              <div class="button-container">
                <div class="button">
                  <i class="fa fa-user-plus"></i>
                  <span>Sign up</span>
                </div>
              </div>
            </div>
            <div class="col-sm-7">
              <img src="assets/img/india_map.png" class="map" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-2">
    <div class="container">
      <div class="section-header">
        <i class="fa fa-cogs"></i>
        <span>Our Functioning</span>
      </div>
      <div class="section-content">
        <div class="main-img">
          <img src="assets/img/function_main.png" />
        </div>
        <div class="function_container">
          <div class="function" *ngFor="let i of [1,2,3,4]">
            <img src="assets/img/function_{{i}}.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-3">
    <div class="container">
      <div class="header">
        <img src="assets/img/location_icon.png" />
        <span>Properties near you</span>
      </div>
      <div class="content">
        <div class="card">
          <div class="card-header">
            <span>DLF Promenade</span>
          </div>
          <div class="card-content">
            <img src="assets/img/restaurent_demo.png" class="property" />
            <div class="right-column">
              <div class="item">
                <div class="left">
                  <img src="assets/img/rent_icon.png" />
                  <span>Rental</span>
                </div>
                <div class="right">
                  7.34 %
                </div>
              </div>
              <div class="item">
                <div class="left">
                  <img src="assets/img/gain_icon.png" />
                  <span>Historical Capital Gain</span>
                </div>
                <div class="right">
                  5.24 %
                </div>
              </div>
              <div class="item">
                <div class="left">
                  <img src="assets/img/slice_icon.png" />
                  <span>Slice</span>
                </div>
                <div class="right">
                  Rs 1247
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="left">
              <img src="assets/img/food_icon.png" />
              <span>Pizza Square</span>
            </div>
            <div class="right">
              <span>Restaurant in Food Court</span>
            </div>
          </div>
        </div>


        <div class="card">
          <div class="card-header">
            <span>Connaught Place</span>
          </div>
          <div class="card-content">
            <img src="assets/img/office_demo.png" class="property" />
            <div class="right-column">
              <div class="item">
                <div class="left">
                  <img src="assets/img/rent_icon.png" />
                  <span>Rental</span>
                </div>
                <div class="right">
                  7.34 %
                </div>
              </div>
              <div class="item">
                <div class="left">
                  <img src="assets/img/gain_icon.png" />
                  <span>Historical Capital Gain</span>
                </div>
                <div class="right">
                  5.24 %
                </div>
              </div>
              <div class="item">
                <div class="left">
                  <img src="assets/img/slice_icon.png" />
                  <span>Slice</span>
                </div>
                <div class="right">
                  Rs 1247
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="left">
              <img src="assets/img/tech_store_icon.png" />
              <span>Apple Store</span>
            </div>
            <div class="right">
              <span>Tech Store in K Block</span>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <span>DLF Promenade</span>
          </div>
          <div class="card-content">
            <img src="assets/img/restaurent_demo.png" class="property" />
            <div class="right-column">
              <div class="item">
                <div class="left">
                  <img src="assets/img/rent_icon.png" />
                  <span>Rental</span>
                </div>
                <div class="right">
                  7.34 %
                </div>
              </div>
              <div class="item">
                <div class="left">
                  <img src="assets/img/gain_icon.png" />
                  <span>Historical Capital Gain</span>
                </div>
                <div class="right">
                  5.24 %
                </div>
              </div>
              <div class="item">
                <div class="left">
                  <img src="assets/img/slice_icon.png" />
                  <span>Slice</span>
                </div>
                <div class="right">
                  Rs 1247
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="left">
              <img src="assets/img/food_icon.png" />
              <span>Pizza Square</span>
            </div>
            <div class="right">
              <span>Restaurant in Food Court</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</div>
