
<!--FOOTER-->
<footer class="footer2">
  <div class="footer">
      <div class="container">
          <div class="row">
              <nav class="col-md-3 col-sm-6 col-xs-12">
                  <h3>Kubma</h3>
                  <ul>
                      <li>
                          <a routerLink="/about-us">About Us</a>
                      </li>
                      <li>
                          <a routerLink="/howitworks">How it works</a>
                      </li>
                      <li>
                          <a routerLink="/features">Features</a>
                      </li>
                      <li>
                          <a routerLink="/faqs">FAQs</a>
                      </li>
                  </ul>
              </nav>
              <nav class="col-md-3 col-sm-6 col-xs-12">
                  <h3>Policies</h3>
                  <ul>
                      <li>
                          <a routerLink="/policy">Privacy Policy</a>
                      </li>
                      <li>
                          <a routerLink="/policy">Vendor Policy</a>
                      </li>
                      <li>
                          <a routerLink="/policy">Order Policy</a>
                      </li>
                      <li>
                          <a routerLink="/policy">Alternation Policy</a>
                      </li>
                  </ul>
              </nav>


              <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="keepintouch col-md-12 ">
                  <h5>Keep in touch</h5>

                  <ul class="nav nav-pills social">
                      <li><a href="https://www.facebook.com/Kubma/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="https://twitter.com/Kubma" target="_blank"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="https://plus.google.com/116358264442181115338" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                      <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                  </ul>
                </div>
            </div>

              <div class="col-md-3 col-sm-6 col-xs-12">
                 <div class="keepintouch col-md-12">
                        <h5>Payment method</h5>
                        <ul class="nav nav-pills payments">
                          <li><i class="fa fa-cc-visa"></i></li>
                            <li><i class="fa fa-cc-mastercard"></i></li>
                            <li><i class="fa fa-cc-amex"></i></li>
                            <li><i class="fa fa-cc-paypal"></i></li>
                            <li><i class="fa fa-credit-card"></i></li>
                            <li><i class="fa fa-cc-discover"></i></li>
                        </ul>

                    </div>


              </div>
          </div> <!--/.row-->
      </div> <!--/.container-->
  </div> <!--/.footer-->

  <div class="footer-bottom">
      <div class="container">
          <div class="text-center"> © 2017 Kubma. All right reserved</div>
      </div>
  </div> <!--/.footer-bottom-->
</footer>
