/* You can add global styles to this file, and also import other style files */
/*global*/
.container {
    width: 90%;
    margin: 0 auto;
  }

  .container-fluid
  {
    margin: 0 auto;
    padding: 0;

  }

  body{
    font-family: "Ubuntu",sans-serif;
    font-size: 14px;
    font-weight: 500;
    overflow-x: hidden;
  }
  *:focus,div:focus,img:focus,span:focus
  {
    outline:none!important;
  }
  .btn-primary {
    background-color: #065bc4;
  }

  .btn-primary:hover{
    background-color: rgb(65, 77, 248);
  }

  .btn-secondry {
    background-color: rgb(20, 43, 92);
  }

  .btn-success {
    background-color: #00209e;
  }

  .form-control {
    border: 1px solid #3387f8;
  }

  a:hover {
    text-decoration: none;
  }

  .panel-primary>.panel-heading{
    background-color: #065bc4;
  }

  .alert-danger {
    color: #f31f00;
    background-color: #f4e6e647;
    border-color: #caa0a7;
  }

  .form-control {
    border: 1px solid #286090;
  }



  .loading-container
  {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255,255,255,0.95);
    z-index:10000;
    padding-top: 15%;
    transition: all ease 0.5s;
  }
  .loading-container span
  {
    font-family: 'Oswald';
    display: block;
    margin-left: 48.2%;
    font-size: 1.5em;
  }
  .sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }

  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }

  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0;
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0;
    }
  }
